body{
    margin: 0;
    width: 100%;
    height: 100vh;
}

.grid-sizeX-controller button{
    font-size: 12px;
    font-weight: bold;
}
.grid-sizeY-controller button{
    font-size: 12px;
    font-weight: bold;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}